@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);/*IMPORTAMOS LA FUENTE JEJU GOTHIC*/
:root{
    --white: #FFFFFF;
    --gold: #EFBB02;
    --heebo: 'Heebo', sans-serif;
    --black_header: #141414;
    --black_footer: #0D0D0D;
    --titles: 'Jeju Gothic', sans-serif;
}
/*Ponemos fondo al cuerpo y aplicamos por defecto el color y la letra, también eliminamos la scroll bar*/
body{
    background-color: #141414;
    color: var(--white);
    font-family: var(--heebo);
    font-style: normal;
}
body::-webkit-scrollbar {display: none;}
img{-webkit-user-drag: none;}

/*-------------------------------------------------------HEADER-------------------------------------------------------*/
#header{
    position: absolute;
    width: 1920px;
    height: 81px;
    left: 0px;
    top: 0px;
    background: var(--black_header);
    border-bottom: solid var(--gold) 2px;
}
#logo_header{
    float:left;
    width: 161px;
    height: 47px;
    margin-left: 26px;
    margin-top: 14px;  
}
.buttons_header{
    float: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--white);
    margin-left: 46px;
    margin-top: 30px;
}
.cart_text{
    float: right;
    font-weight: bolder;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--white);
    margin-left: 46px;
    margin-top: 30px;
}
#logo_cart{
    float:right;
    width: 36px;
    height: 36px;
    margin-left: 14px;
    margin-right: 35px;
    margin-top: 22px;  
}

/*-------------------------------------------------------CONTENT------------------------------------------------------*/
#bg1{
    position: absolute;
    width: 1921px;
    height: 922px;
    left: -1px;
    top: 83px;
}
#title1{
    position: absolute;
    width: 600px;
    height: 69px;
    left: 80px;
    top: 296px;
    font-weight: bolder;
    font-size: 64px;
    line-height: 69px;
    font-family:var(--titles);
    color:var(--gold);
}
#text1{
    position: absolute;
    width: 366px;
    height: 129px;
    left: 80px;
    top: 373px;
    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    color: var(--white)
}
#gradient{/*El difuminado que separa por la mitad el contenido de la web*/
    position: absolute;
    width: 1920px;
    height: 75px;
    left: 0px;
    top: 955px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 44.27%, #000000 53.12%, rgba(0, 0, 0, 0) 100%);
    filter: blur(4px);
    z-index: 10;
}
#bg2{
    position: absolute;
    width: 960px;
    height: 550px;
    left: 0px;
    top: 997px;
}
#title2{
    position: absolute;
    width: 600px;
    height: 142px;
    left: 70px;
    top: 1055px;
    font-family: var(--titles);
    font-weight: 350;
    font-size: 62px;
    line-height: 65px;
    text-align: center;
    color: var(--white);
    text-shadow: 3px 7px 4px rgba(0, 0, 0, 0.25);
}
#text2{
    position: absolute;
    width: 154px;
    height: 31px;
    left: 293px;
    top: 1200px;

    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: var(--gold);
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.35);
}
#logo_bg2{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 260px;
    top: 1250px;
    filter: drop-shadow(4px 6px 3px rgba(0, 0, 0, 0.5));
}
#bg3{
    position: absolute;
    width: 961px;
    height: 550px;
    left: 959px;
    top: 997px;
}
#title3{
    position: absolute;
    width: 600px;
    height: 65px;
    left: 1300px;
    top: 1048px;
    font-family: var(--titles);
    font-weight: bolder;
    font-size: 60px;
    line-height: 65px;
    color:var(--gold);
}
#text3{
    position: absolute;
    width: 413.29px;
    height: 30.61px;
    left: 1383px;
    top: 1124px;
    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: var(--white);
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}
#stars{
    position: absolute;
    width: 185px;
    height: 50px;
    left: 1498px;
    top: 1155px;
}


/*-------------------------------------------------------FOOTER-------------------------------------------------------*/
#footer{
    position: absolute;
    width: 1920px;
    height: 235px;
    left: 0px;
    top: 1545px;
    background-color: var(--black_footer);
    border-top: solid var(--gold) 2px;
}
#logo_footer{
    position: absolute;
    width: 267px;
    left: 444px;
    top: 80px;
}
#footer_text1{
    position: absolute;
    width: 165px;
    height: 26px;
    left: 878px;
    top: 83px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
#footer_text2{
    position: absolute;
    width: 210px;
    height: 53px;
    left: 854px;
    top: 102px;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: var(--gold);
}
#follow{
    font-family: 'Vollkorn', serif;
    position: absolute;
    width: 130px;
    height: 39px;
    left: 1202px;
    top: 106px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
}

#social{
    position: absolute;
    width: 177px;
    height: 43px;
    left: 1343px;
    top: 100px;
}
#social>img{
    height: 43px;
    width: 43px;
    margin-right: 16px;
    float:left;
}